
.formulario{
background-color:rgb(232, 248, 245 );
border: 7px solid gray;
}


.my-custom-scrollbar {
position: relative;
height: 500px;
overflow: auto;
background-color:rgb(232, 248, 245 );
}
.table-wrapper-scroll-y {
display: block;
}

