 <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Estilos de Zapatos</h1>
          </div>
           <div  class="col-md-6 col-12">

                                <div *ngIf="regresarService.estado else mp">


              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard/listado-estilo">Regresar</a></li>
                <li class="breadcrumb-item active">Registrar Estilos de Zapatos</li>
              </ol>
            </div>
            </div>
              <div  class="col-md-6 col-12">

            <ng-template #mp>

              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item active">Registrar Estilos de Zapatos</li>
              </ol>
</ng-template>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


       <section class="content">
          <div class="container-fluid">

          <div class="row match-height">
              <div class="col-12">
                  <div class="card card-secondary ">
                      <div class="card-header">
                          <div class="row">
            <div class="col-sm-10">
              <h4 card-title><b>Registrar Materiales por Estilos</b></h4>
            </div>
          
          </div>
                      </div>
  
                      <div class="card-content">
                          <div class="card-body formulario">
                                <form [formGroup]="form" (ngSubmit)="submit()">

              <div class="row ">
                     <div class="col-md-4 col-12">

                                              <label for="first-name-column">Código</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text border border-dark"><i class="fa-solid fa-code"></i></span>
                    </div>
                    <input type="text" disabled class="form-control border border-dark" formControlName="codigo" id="codigo"  >
                  </div>
              </div>
                               	<div class="col-md-8 col-12">
  	               <label >Estilo</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text border border-dark">
                        <i class="fa-sharp fa-solid fa-shoe-prints"></i>
                      </span>
                    </div>
                    <input type="text" id="" class="form-control border border-dark" 
                      placeholder="Nombre del estilo" formControlName="estilo" id="estilo">
                  </div>
                   <div *ngIf="f.estilo.touched && f.estilo.invalid" class="alert alert-danger">
                  <div *ngIf="f.estilo.errors.required">*Estilo es requerido.</div>
              </div>
                                </div>


 
              

     

             

<!--fin col-->
<div class="col-12">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <div class="card  card-secondary table-responsive">
                                <div class="card-header ">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h4 card-title><b>Seleccionar Materiales</b></h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body formulario table-responsive">
<table id="idTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display nowrap  table table-bordered table-hover" style="width:100%">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Materia Prima</th>
                                                <th>Color</th>
                                                <th style="width: 20px;">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr *ngFor= "let m of mp2; index as i">
                                                <th scope="row">{{i+1}}</th>
                                                 <td>{{m.nombre_producto}}</td>
                                                 <td>{{m.color}}</td>
                                                <td>

                                    <input class="checkboxtext mt-4"  id="id_mp[]" formControlName="id_mp2" name="id_mp[]" type="checkbox" value="{{m.id_mp}}" /><label class="checkboxtext ml-3">
                             Seleccione</label>

                                  


                                                </td>
                                           
                                                                        
              </tr>
                               
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12">
                            <br> 

                            <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-center">
      <div *ngIf="loading else l" > 
                                          <div class="form-group">
                                          <div class="text-center">
      <div class="spinner-border " role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando...</p>
 </div>
                                            </div>
                                      </div>

                                      </div>

  
                                        <ng-template #l>

                         <div class="col-6">
                                <button type="reset" class="btn btn-danger  float-right border-dark">Limpiar</button>
                            </div>
                                <div class="col-6">
                                <button type="submit" [disabled]="!form.valid" class="btn btn-primary  border border-dark">Guardar</button>
                            </div>
</ng-template>
                            
                            </div>           
                        
                        </div>

                    </div>
                </div>
                <!--fin row-->

          </div>




        </form>
          </div>
          </div>
          </div>
          </div>
        </div>
          </div>
          
</section>