<div *ngIf="modificar else m">
<div class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-warning formulario">
    <div class="card-header text-center">
      <a  class="h1"><b>THERSAN</b></a>
    </div>
    <div class="card-body formulario">
      <p class="login-box-msg"><strong>¿Olvidaste tu contraseña? Aquí puede recuperar fácilmente una nueva contraseña.</strong></p>
              <div *ngIf="verificacion else v">

      <form [formGroup]="form" (ngSubmit)="submit()">
               <div class="input-group mb-3">
                                        
                                            <input type="email" class="form-control border border-dark" placeholder="Correo electrónico"
                                                  id="email" formControlName="email">
                                        </div>
                                          <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                  <div *ngIf="f.email.errors.required">*Correo electrónico es requerido.</div>

              </div>
     


                    <div *ngIf="loading else l" > 
    <div class="col-12 d-flex align-items-center justify-content-center">

                                          <div class="form-group">
                                          <div class="text-center">
      <div class="spinner-border " role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando...</p>
 </div>
                                            </div>
                                      </div>

                                      </div>

  
                                        <ng-template #l>

        <div class="row">
          <div class="col-12">
             <div *ngIf="mensaje" class="alert alert-danger">
            El correo electrónico no existe
          </div> 
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block">Enviar Código</button>
          </div>
          <!-- /.col -->
        </div>
      </ng-template>
      </form>
             </div>

                                                    <ng-template #v>
                                                            <form [formGroup]="codigo" (ngSubmit)="verifi()">

                                                             <div class="input-group mb-3">
                                   
                                            <input type="text-center" class="form-control border border-dark" placeholder="Ingresa el codigo" id="codigo2" formControlName="codigo2" >
                                        </div>

                                         <div *ngIf="loading else l2" > 
    <div class="col-12 d-flex align-items-center justify-content-center">

                                          <div class="form-group">
                                          <div class="text-center">
      <div class="spinner-border " role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando...</p>
 </div>
                                            </div>
                                      </div>

                                      </div>

  
                                        <ng-template #l2>

        <div class="row">
          <div class="col-12">
             <div *ngIf="mensaje2" class="alert alert-danger">
            El codigo no es valido
          </div> 
            <button type="submit" [disabled]="!codigo.valid" class="btn btn-primary btn-block">Enviar Código</button>
          </div>
          <!-- /.col -->
        </div>
      </ng-template>
      </form>

</ng-template>
      <p class="mt-3 mb-1">
        <a routerLink="/login">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>

</div>
<ng-template #m>

  <div class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-warning formulario">
    <div class="card-header text-center">
      <a  class="h1"><b>THERSAN</b></a>
    </div>
    <div class="card-body formulario">
      <p class="login-box-msg"><strong>Estás a un paso de tu nueva contraseña, recupera tu contraseña ahora.</strong>
</p>
      <form [formGroup]="passw" (ngSubmit)="pass()">
    <div class="input-group mb-3">
                                        
                                            <input type="password" class="form-control border border-dark" placeholder="Contraseña"
                                                  id="password" formControlName="password">
                                        </div>
                                           <div *ngIf="ff.password.touched && ff.password.invalid" class="alert alert-danger">
                  <div *ngIf="ff.password.errors.required">*Contraseña es requerida.</div>
                        <div *ngIf="ff.password.errors.minlength">*La contraseña debe tener al menos 6 caracteres</div>
              </div>
                                           <div class="input-group mb-3">
                                               
                                            <input type="password" class="form-control border border-dark" placeholder="Confirmar Contraseña"
                                                  id="password2" formControlName="password2">
                                        </div>
                                                 <div *ngIf="ff.password2.touched && ff.password2.invalid" class="alert alert-danger">
                  <div *ngIf="ff.password2.errors.required">*Confirmar contraseña es requerida.</div>
                        <div *ngIf="ff.password2.errors.mustMatch">*Las contraseñas deben coincidir</div>
              </div>

                                 <div *ngIf="loading else l" > 
    <div class="col-12 d-flex align-items-center justify-content-center">

                                          <div class="form-group">
                                          <div class="text-center">
      <div class="spinner-border " role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando...</p>
 </div>
                                            </div>
                                      </div>

                                      </div>

  
                                        <ng-template #l>
        <div class="row">
          <div class="col-12">
            <button type="submit" [disabled]="!passw.valid" class="btn btn-primary btn-block">Cambiar la contraseña</button>
          </div>
          <!-- /.col -->
        </div>
      </ng-template>
      </form>

      <p class="mt-3 mb-1">
        <a routerLink="/login">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
</div>
</ng-template>