 <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-md-6 col-12">
              <h4>Respaldo</h4>
            </div>

              
          

              <div  class="col-md-6 col-12">


              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item active">Respaldo</li>
              </ol>
            </div>


          </div>
        </div><!-- /.container-fluid -->
      </section>
  
              <!-- Color -->

    <section class="content">
      <div class="container-fluid">
      <div class="row">
<div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title"><strong>Generar Respaldo de la Base de Datos Para Enviar al Correo</strong></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->


                <div class="card-body formulario">

<div *ngIf="loading else l2" > 
    <div class="col-12 d-flex align-items-center justify-content-center">

                                          <div class="form-group">
                                          <div class="text-center">
      <div class="spinner-border " role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando...</p>
 </div>
                                            </div>
                                      </div>

                                      </div>

  
                                        <ng-template #l2>
   <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block" (click)="Backup()">Enviar Respaldo</button>

                </div>

                   </ng-template>


                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        

          </div>





      </div>
      </div>
  

      </section>
<!-- fin color -->




  
                    


