.navbar-dark {
  background-color: ##78281F !important; /* Cambia este valor al color que desees */
}

.main-sidebar {
  background-color: #78281F !important; /* Cambia este valor al color que desees */
}

.navbar-dark{
    background-color: #78281F !important; /* Cambia este valor al color que desees */

}



.formulario{
background-color:rgb(255, 223, 0, 0.3);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
