<div class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary formulario">
    <div class="card-header text-center">
      <a  class="h1"><b>INDUVA</b></a>
    </div>
    <div class="card-body formulario">
      <p class="login-box-msg">Inicia sesión para iniciar tu sesión</p>

      <form [formGroup]="form" (ngSubmit)="submit()">

                             <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text border border-dark">   <i class="fas fa-envelope"></i>  </span>
                              </div>
                                            <input type="email" class="form-control border border-dark" placeholder="Email"
                                                  id="email" formControlName="email">
                                        </div>
                                          <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                  <div *ngIf="f.email.errors.required">*Email es requerido.</div>

              </div>

                       <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text border border-dark">   <i class="fas fa-lock"></i>  </span>
                              </div>
                                            <input type="password" class="form-control border border-dark" placeholder="Contraseña"
                                                  id="password" formControlName="password">
                                        </div>
                                           <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                  <div *ngIf="f.password.errors.required">*Contraseña es requerida.</div>

              </div>

                    <div *ngIf="loading else l" > 
    <div class="col-12 d-flex align-items-center justify-content-center">

                                          <div class="form-group">
                                          <div class="text-center">
      <div class="spinner-border " role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando...</p>
 </div>
                                            </div>
                                      </div>

                                      </div>

  
                                        <ng-template #l>

        <div class="row">
         
          <div class="col-12">
          <div *ngIf="mensaje" class="alert alert-danger">
            La contraseña o email es incorrecta
          </div> 
        <button type="submit" class="btn btn-block btn-primary" [disabled]="!form.valid">
         Iniciar Sesión
        </button>

          </div>
          <!-- /.col -->
        
          <!-- /.col -->
        </div>
      </ng-template>
      </form>


      <p class="mb-1">
        <a routerLink="/recuperar-password">Olvidé mi contraseña</a>
      </p>
      <br>
      <p class="mb-1">
        <a routerLink="/respaldos">Configuración</a>
      </p>
    </div>
    
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


</div>
