 <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-md-6 col-12">
              <h4>Reportes Gerenciales</h4>
            </div>

              
          

              <div  class="col-md-6 col-12">


              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item active">Reportes Gerenciales</li>
              </ol>
            </div>


          </div>
        </div><!-- /.container-fluid -->
      </section>
  
              <!-- Color -->

<div class="hold-transition register-page">
<div class="register-box " >
  <div class="card card-outline card-primary">
             <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Reportes Gerenciales</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->


                <div class="card-body formulario">

                <ul class="nav nav-pills flex-column">
               
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/ingresoF"  class="btn btn-primary btn-block">
                    Reporte de Ingresos Diarios, Mensual y Anual
                    </a>
                  </li>
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/egresoF" class="btn btn-primary btn-block">
                     Reporte de Egresos Diarios, Mensual y Anual
                    </a>
                  </li>
                  <li class="nav-item">
               <a type="button"  (click)="generateReportVentaEst()" class="btn btn-primary btn-block">
                      Reporte de Ventas por Estilos
                    </a>
                  </li>
                
                </ul>
  
   <div class="card-footer">

                </div>


                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        







      </div>
  
      </div>

</div>
<!-- fin color -->




  
                    


