 <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-md-6 col-12">
              <h4>Reportes</h4>
            </div>

              
          

              <div  class="col-md-6 col-12">


              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item active">Reportes</li>
              </ol>
            </div>


          </div>
        </div><!-- /.container-fluid -->
      </section>
  
              <!-- Color -->

<div class="hold-transition register-page">
<div class="register-box " >
  <div class="card card-outline card-warning">
             <!-- general form elements -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title"><b>Reportes</b></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->


                <div class="card-body formulario">
            <h4 card-title><b>Reportes Operativos</b></h4>

                <ul class="nav nav-pills flex-column">
               
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/ingresos"  class="btn btn-warning btn-block">
                   <b> Reporte De Ingresos Diarios, Mensual Y Anual</b>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/prodmv" class="btn btn-warning btn-block">
                       <b>Reporte De Los Productos Más Vendidos</b>   
                                     </a>
                  </li>
                  <li class="nav-item">
               <a type="button" routerLink="/dashboard/clieN" class="btn btn-warning btn-block">
                      <b>Reporte De Clientes Nuevos</b>
                    </a>
                  </li>
                  <li class="nav-item">
               <a type="button"  routerLink="/dashboard/ventaCat" class="btn btn-warning btn-block">
                  <b>Reporte De Ventas Por Categorías</b>    </a>
                  </li>
                
                </ul>
                            <h4 card-title><b>Reportes Tácticos</b></h4>
<ul class="nav nav-pills flex-column">
               
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/ventaEmp"  class="btn btn-warning btn-block">
                   <b>Reporte De Ventas Por Empleados</b>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/ventaMuni" class="btn btn-warning btn-block">
                   <b>Reportes De Ventas Por Municipios</b>
                                     </a>
                  </li>
              </ul>

                                          <h4 card-title><b>Reportes Estratégicos</b></h4>
<ul class="nav nav-pills flex-column">
                     <li class="nav-item">
                    <a type="button" (click)="generarPDF()" class="btn btn-warning btn-block">
                   <b>Reportes Del Indice De Crecimiento De Ventas Anuales</b>
                                     </a>
                  </li>
                  <li class="nav-item">
                    <a type="button" routerLink="/dashboard/clienteMF"  class="btn btn-warning btn-block">
                   <b>Reporte De Clientes Más Frecuentes</b>
                    </a>
                  </li>
            
              </ul>
  
   <div class="card-footer">

                </div>


                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        







      </div>
  
      </div>

</div>
<!-- fin color -->




  
                    


