
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 card-title><b></b></h4>
                            </div>
                            <div class="col-md-4">
                                <h4 card-title><b><a (click)="efectuado()" class="btn btn-primary mr-2"><i
                                    class="fa-sharp fa-solid fa-signature"></i>Impresion Realizada</a></b></h4>
                            </div>
                            <div class="col-md-4">
                                <h4 card-title><b></b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>