<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Clientes</h1>
            </div>

            <div class="col-md-6 col-12">
                <div>


                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/listar-cliente">Regresar</a></li>
                        <li class="breadcrumb-item active">Editar Cliente</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12">

                <ng-template #p>

                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                        <li class="breadcrumb-item active">Editar Cliente</li>
                    </ol>
                </ng-template>
            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="row match-height">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-10">
                                <h4 card-title><b>Editar Cliente</b></h4>
                            </div>

                        </div>
                    </div>

                    <div class="card-content ">
                        <div class="card-body formulario">
                            <form [formGroup]="formcliente" (ngSubmit)="verificarclienterep()">

                                <div class="row ">

                                    <div class="col-md-6 col-12">
                                        <label for="nombre">Nombre</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-solid fa-signature"></i> </span>
                                            </div>
                                            <input type="text" formControlName="nombre" id="nombre"
                                                class="form-control border border-dark" placeholder="Nombre"
                                                [(ngModel)]="listcliente.nombre">

                                        </div>
                                        <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                                            <div *ngIf="f.nombre.errors.required">*Nombre es requerido.</div>
                                            <div *ngIf="f.nombre.errors.pattern">*El Nombre solo debe contener letras.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label for="dui">DUI</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-sharp fa-solid fa-id-card"></i> </span>
                                            </div>
                                            <input type="text" formControlName="dui" id="dui" mask="00000000-0"
                                                class="form-control border border-dark" placeholder="DUI"
                                                [(ngModel)]="listcliente.dui">
                                        </div>
                                        <div *ngIf="f.dui.touched && f.dui.invalid" class="alert alert-danger">
                                            <div *ngIf="f.dui.errors.mask">*DUI no valido.</div>
                                            <div *ngIf="f.dui.errors.pattern">*El DUI solo debe contener números.</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label for="nit">NIT</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-solid fa-pager"></i> </span>
                                            </div>
                                            <input type="text" formControlName="nit" id="nit" mask="0000-000000-000-0"
                                                class="form-control border border-dark" placeholder="NIT"
                                                [(ngModel)]="listcliente.nit">
                                        </div>
                                        <div *ngIf="f.nit.touched && f.nit.invalid" class="alert alert-danger">
                                            <div *ngIf="f.nit.errors.mask">*NIT no valido.</div>
                                            <div *ngIf="f.nit.errors.pattern">*El NIT solo debe contener números.</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label for="nit">NRC</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-solid fa-pager"></i> </span>
                                            </div>
                                            <input type="text" formControlName="nrc" id="nrc"
                                                class="form-control border border-dark" placeholder="NRC"
                                                [(ngModel)]="listcliente.nrc" mask="00000-0">
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label for="celular">Teléfono</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"><i
                                                        class="fa-sharp fa-solid fa-phone "></i>
                                                </span>
                                            </div>

                                            <input type="text" formControlName="telefono" id="telefono" prefix="+503"
                                                mask=" 0000 0000" class="form-control border border-dark"
                                                name="company-column" placeholder="teléfono"
                                                [(ngModel)]="listcliente.telefono">
                                        </div>

                                        <div *ngIf="f.telefono.touched && f.telefono.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.telefono.errors.required">*Teléfono es requerido.</div>
                                            <div *ngIf="f.telefono.errors.mask">*Teléfono no valido.</div>
                                            <div *ngIf="f.telefono.errors.pattern">*El Teléfono solo debe contener
                                                números.</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label for="email">Email</label>

                                        <div class="input-group mb-3">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"><i
                                                        class="fas fa-envelope"></i></span>
                                            </div>

                                            <input type="email" formControlName="email" id="email"
                                                class="form-control border border-dark" placeholder="Email"
                                                [(ngModel)]="listcliente.email">
                                        </div>
                                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                                            <div *ngIf="f.email.errors.required">*Email es requerido.</div>
                                            <div *ngIf="f.email.errors.email">*El email debe ser válido.</div>
                                        </div>
                                    </div>

                 
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label for="dirección">Departamento</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-sharp fa-solid fa-route"></i>
                                                </span>
                                            </div>
                                                <select class="form-control mr-2 border border-dark" formControlName="departamento" (change)="cargarmunicipio($event)" [(ngModel)]="listcliente.deptoactual">
                                                    <option value="">---Seleccionar Departamento---</option>
                                                    <option [value]="item.id_departamento" *ngFor="let item of listadepartamentos; let i = index;">{{item.nombredepto}}</option>
                                                </select>
                                        </div>
                                        <div *ngIf="f.departamento.touched && f.departamento.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.departamento.errors.required">*Seleccione el Departamento.</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label for="dirección">Municipio</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-sharp fa-solid fa-route"></i>
                                                </span>
                                            </div>
                                                <select class="form-control mr-2 border border-dark" formControlName="municipio" [(ngModel)]="listcliente.municipio">
                                                    <option value="">---Seleccionar Municipio---</option>
                                                    <option [value]="item.id_municipio" *ngFor="let item of filtromunicipios; let i = index;">{{item.nombremunicipio}}</option>
                                                </select>
                                        </div>
                                        <div *ngIf="f.municipio.touched && f.municipio.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.municipio.errors.required">*Seleccione el Municipio.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                                       <div class="col-md-6 col-12">
                                        <label for="dirección">Dirección</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-sharp fa-solid fa-route"></i>

                                                </span>
                                            </div>
                                            <input type="text" formControlName="direccion" id="direccion"
                                                class="form-control border border-dark" placeholder="Dirección"
                                                [(ngModel)]="listcliente.direccion">
                                        </div>
                                        <div *ngIf="f.direccion.touched && f.direccion.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.direccion.errors.required">*Dirección es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <label for="limite_credito">Límite de crédito</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border border-dark"> <i
                                                        class="fa-sharp fa-solid fa-credit-card"></i>

                                                </span>
                                            </div>
                                            <input type="number" formControlName="limite_credito" id="limite_credito"
                                                class="form-control border border-dark" name="company-column"
                                                placeholder="0" [(ngModel)]="listcliente.limite_credito">
                                        </div>
                                        <div *ngIf="f.limite_credito.touched && f.limite_credito.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.limite_credito.errors.required">*Limite de credito es
                                                requerido.</div>
                                            <div *ngIf="f.limite_credito.errors.pattern">*El limite de credito solo debe
                                                contener números.</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex align-items-center justify-content-center">
                                    <div *ngIf="loading==true">
                                        <div class="form-group">
                                            <div class="text-center">
                                                <div class="spinner-border " role="status">
                                                    <span class="sr-only">Cargando...</span>
                                                </div>
                                                <p>Cargando...</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" [disabled]="!formcliente.valid"
                                        class="btn btn-primary me-1 mb-1 m-1 border border-dark">Guardar</button>
                                    <button type="reset"
                                        class="btn btn-danger  mb-1 mb-1 m-1  border-dark">Limpiar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->